.update-button {
  background-color: #171717;
  border: none;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 5px;
  color: #fff;
  width: 50%;
  margin: 0 auto 10px auto;
}
.update-button:hover{
    background-color: #78716c;
}
.image:hover{
    transform: scale(.97) !important;
    transition: transform 1s;
}
